.shoppingCat {
  width: 100%;
  height: 100%;
  background-color: #eee;
  overflow: hidden;

  .main {
    overflow: hidden;
    margin-top: 10px;

    .title {
      width: 100%;
      height: 50px;
      line-height: 50px;
      background-color: #fff;
      font-size: 18px;
      padding-left: 10px;
      border-bottom: 2px solid #eee;
      box-sizing: border-box;
    }

    .contant {
      width: 100%;
      height: 110px;
      background-color: #fff;
      display: flex;
      margin-bottom: 15px;

      .checkbox {
        margin-top: 40px;
        margin-left: 5px;
        margin-right: 10px;
        background-color: #eee;
        border-radius: 25px;
        height: 25px;
      }

      .center {
        flex: 1;
        height: 100%;
        padding: 0 0 10px 10px;

        p {
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
          overflow: hidden;
          margin-bottom: 0;
        }

        span {
          margin-top: 15px;
          color: red;
          display: inline-block;
          margin-right: 10px;
        }
      }

      .delete {
        width: 90px;
        height: 110px;
        display: flex;
        align-items: center;
        justify-content: center;

        div {
          width: 55px;
          color: red;
          height: 55px;
          line-height: 55px;
          margin: 0 auto;
          background-color: #eee;
          text-align: center;
        }
      }

      .imgBox {
        padding-top: 5px;
      }
    }
  }

  .settlement {
    width: 100%;
    height: 75px;
    background-color: #fff;
    position: fixed;
    bottom: 0;
    display: flex;

    .settlementLeft {
      width: 60px;
      height: 100%;
      text-align: center;
      padding-top: 10px;

      span {
        display: inline-block;
        margin-top: 10px;
      }
    }

    .settlementCenter {
      flex: 1;
      height: 100%;
      line-height: 75px;
      font-size: 18px;

      .money {
        color: red;
      }
    }

    .settlementRight {
      width: 150px;
      height: 100%;
      line-height: 75px;
      text-align: center;
    }
  }
}