.home {
  width: 100%;
  height: 100%;
  background-color: #eee;

  .swiper {
    height: 250px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    user-select: none;

    .swiperMain {
      background-color: yellow;
      width: 100%;
      height: 100%;
      background-size: 100% 100%;
    }
  }

  .navgtion {
    width: 100%;
    height: 90px;
    background-color: #fff;
    display: flex;

    div {
      width: 25%;
      text-align: center;
      padding-top: 20px;

      p {
        margin: 0px;
      }

      img {
        width: 45px;
        height: 45px;
        transform: scale(1.1); //原本的图片的大小，图片原来的大小不变
        transition: all 0.6s;
      }

      img:hover {
        transform: scale(1.3); //图片按照比例，整体放大了1.2倍
        // 当鼠标经过是图片放大的倍数为1.2倍
      }
    }
  }

  .content {
    width: 100%;
    background-color: #fff;
    margin-top: 20px;
    padding-bottom: 16px;
    overflow: hidden;

    .title {
      width: 100%;
      height: 48px;
      color: #e9e9e9;
      margin-right: 24px;
      line-height: 24px;
      margin-bottom: 24px;

      img {
        height: 48px;
        margin-right: 24px;
        float: left;
      }

      span {
        display: inline-block;
        line-height: 48px;
        float: left;
      }
    }

    .main {
      width: 50%;
      height: 50px;
      float: left;
      padding-left: 10px;
      box-sizing: border-box;
      margin-bottom: 20px;

      img {
        margin-right: 5px;
        float: left;
      }

      p {
        vertical-align: top;
        font-size: 15px;
        float: left;
        margin: 0;
        width: 135px;
      }

      .secondP {
        font-size: 12px;
      }
    }
  }
}