.classification {
  width: 100%;
  background-color: #F5F7FA;
  flex: 1;

  :global {
    .adm-tabs {
      height: 100%;
    }

    .adm-tabs-content {
      padding: 0;
      background-color: #eee;
      // padding: 20px
      height: 100%;
    }
  }
}